{% extends "base.html" %}

{% block title %}
Minions Welcomed
{%  endblock %}

{% block content %}
    <article>
        <header>
            <h1>Welcome</h1>
            <p>This is a simple Flask application.</p>
        </header>
        <section>
            <h2>Web Forms</h2>
            <p>Site leverages forms to interact with backend database.</p>
        </section>
        <section>
            <h2>API Access</h2>
            <p>API functionality will enable additional features.</p>
        </section>

    </article>
{% endblock %}
